.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 3546px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-image: linear-gradient(180deg, rgba(90, 170, 215, 1) 0%, rgba(90, 170, 215, 1) 0%, rgba(53, 92, 114, 0.9641128182411194) 7%, rgba(18, 18, 18, 0.9300000071525574) 18%, rgba(18, 18, 18, 0.9300000071525574) 100%);
}
.desktop1-group10 {
  top: 49px;
  right: 0px;
  width: 390px;
  height: 31px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-text {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Exo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text02 {
  left: 263px;
  color: rgba(255, 195, 0, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text04 {
  left: 86px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text06 {
  left: 169px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: left;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group9 {
  top: 213px;
  left: 0px;
  right: 0px;
  width: 1090px;
  height: 530.0001220703125px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-associationforcomputingmachinerylogo1 {
  top: 15px;
  left: 0px;
  width: 301px;
  height: 301px;
  position: absolute;
}
.desktop1-text08 {
  left: 300px;
  color: rgba(255, 195, 0, 1);
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Bold;
  text-align: left;
  font-family: Exo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text09 {
  top: 60px;
  left: 487px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Exo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text10 {
  top: 166px;
  left: 333px;
  color: rgba(255, 255, 255, 1);
  width: 750px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-link {
  display: contents;
}
.desktop1-group1button {
  top: 303px;
  left: 569px;
  width: 246px;
  height: 56px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
}
.desktop1-rectangle1 {
  top: 0px;
  left: 30px;
  width: 186px;
  height: 56px;
  position: absolute;
}
.desktop1-ellipse1 {
  top: 0px;
  left: 0px;
  width: 57px;
  height: 56px;
  position: absolute;
}
.desktop1-ellipse2 {
  top: 0px;
  left: 189px;
  width: 57px;
  height: 56px;
  position: absolute;
}
.desktop1-text14 {
  top: 13px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-line1 {
  top: 530px;
  left: 5px;
  width: 1085px;
  height: 1px;
  position: absolute;
}
.desktop1-group8 {
  top: 803px;
  left: 0px;
  right: 0px;
  width: 1078px;
  height: 812.0001220703125px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-text16 {
  left: 296px;
  color: rgba(255, 195, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Bold;
  text-align: left;
  font-family: Exo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-navlink {
  display: contents;
}
.desktop1-group2button {
  top: 696px;
  left: 396px;
  width: 287px;
  height: 57px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
}
.desktop1-rectangle11 {
  top: 0px;
  left: 30px;
  width: 229px;
  height: 57px;
  position: absolute;
}
.desktop1-ellipse11 {
  top: 0px;
  left: 0px;
  width: 57px;
  height: 57px;
  position: absolute;
}
.desktop1-ellipse21 {
  top: 0px;
  left: 230px;
  width: 57px;
  height: 57px;
  position: absolute;
}
.desktop1-text18 {
  top: 13px;
  left: 69px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-aicdm20231 {
  top: 127px;
  left: 598px;
  width: 460px;
  height: 315px;
  position: absolute;
  border-radius: 25px;
}
.desktop1-hackabot20231 {
  top: 128px;
  left: 22px;
  width: 470px;
  height: 315px;
  position: absolute;
  border-radius: 25px;
}
.desktop1-text20 {
  top: 468px;
  left: 97px;
  color: rgba(255, 195, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Exo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text22 {
  top: 463px;
  left: 702px;
  color: rgba(255, 195, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Exo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-line2 {
  top: 812px;
  left: 0px;
  width: 1078px;
  height: 1px;
  position: absolute;
}
.desktop1-text24 {
  top: 518px;
  color: rgba(255, 255, 255, 1);
  width: 515px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text26 {
  top: 519px;
  left: 588px;
  color: rgba(255, 255, 255, 1);
  width: 480px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group7 {
  top: 1656px;
  left: 0px;
  right: 0px;
  width: 1033px;
  height: 458px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-onlineconsultingpana11 {
  top: 50px;
  left: 0px;
  width: 489px;
  height: 408px;
  position: absolute;
}
.desktop1-text28 {
  left: 310px;
  color: rgba(255, 195, 0, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Bold;
  text-align: left;
  font-family: Exo;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text30 {
  top: 174px;
  left: 600px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Exo;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text32 {
  top: 239px;
  left: 518px;
  color: rgba(255, 255, 255, 1);
  width: 515px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-group6 {
  top: 2091px;
  left: 0px;
  right: 0px;
  width: 1041px;
  height: 443px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-java-scriptframeworkspana1 {
  top: 0px;
  left: 587px;
  width: 454px;
  height: 443px;
  position: absolute;
}
.desktop1-text34 {
  top: 152px;
  left: 164px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Exo;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text36 {
  top: 209px;
  color: rgba(255, 255, 255, 1);
  width: 587px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-line3 {
  top: 2111px;
  left: 0px;
  right: 0px;
  width: 1058px;
  height: 1px;
  margin: auto;
  position: absolute;
}
.desktop1-line4 {
  top: 2552px;
  left: 0px;
  right: 0px;
  width: 1058px;
  height: 1px;
  margin: auto;
  position: absolute;
}
.desktop1-line5 {
  top: 3053px;
  left: 0px;
  right: 0px;
  width: 1075px;
  height: 1px;
  margin: auto;
  position: absolute;
}
.desktop1-group5 {
  top: 2532px;
  left: 0px;
  right: 0px;
  width: 1039px;
  height: 531px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-text38 {
  top: 210px;
  left: 649px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Exo;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text40 {
  top: 266px;
  left: 499px;
  color: rgba(255, 255, 255, 1);
  width: 540px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Medium;
  text-align: center;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-manufacturing-processpana1 {
  top: 0px;
  left: 0px;
  width: 502px;
  height: 531px;
  position: absolute;
}
.desktop1-group4 {
  top: 3127px;
  left: 0px;
  right: 0px;
  width: 1075px;
  height: 337.0000915527344px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop1-text42 {
  left: 295px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: SemiBold;
  text-align: left;
  font-family: Exo;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-line6 {
  top: 337px;
  left: 0px;
  width: 1075px;
  height: 1px;
  position: absolute;
}
.desktop1-vvcelogo1 {
  top: 14px;
  left: 40px;
  width: 229px;
  height: 236px;
  position: absolute;
}
.desktop1-text43 {
  top: 74px;
  left: 295px;
  color: rgba(255, 255, 255, 1);
  width: 566px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Exo;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-link1 {
  display: contents;
}
.desktop1-instagram1button {
  top: 206px;
  left: 431px;
  width: 50px;
  height: 50px;
  position: absolute;
  text-decoration: none;
}
.desktop1-link2 {
  display: contents;
}
.desktop1-linkedin1button {
  top: 199px;
  left: 295px;
  width: 50px;
  height: 63px;
  position: absolute;
  text-decoration: none;
}
.desktop1-link3 {
  display: contents;
}
.desktop1-facebook21button {
  top: 206px;
  left: 363px;
  width: 50px;
  height: 50px;
  position: absolute;
  text-decoration: none;
}
.desktop1-link4 {
  display: contents;
}
.desktop1-email1button {
  top: 206px;
  left: 496px;
  width: 50px;
  height: 50px;
  position: absolute;
  text-decoration: none;
}
@media(max-width: 991px) {
  .desktop1-group9 {
    top: 150px;
    left: 0px;
    right: 0px;
    width: 900px;
    margin: auto;
  }
  .desktop1-text08 {
    top: 25px;
    color: rgb(255, 195, 0);
    right: 40px;
    font-size: 30px;
    font-style: normal;
    font-family: Exo;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
  }
  .desktop1-text09 {
    top: 63px;
    left: 452px;
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-family: Exo;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .desktop1-text10 {
    top: 125px;
    color: rgb(255, 255, 255);
    right: 22px;
    width: 540px;
    font-size: 20px;
    font-family: Exo;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
  }
  .desktop1-group1button {
    top: 277px;
    left: 480px;
  }
  .desktop1-line1 {
    left: 0px;
    right: 0px;
    width: 900px;
    margin: auto;
  }
  .desktop1-group8 {
    width: 991px;
    margin-right: auto;
  }
  .desktop1-text16 {
    left: 270px;
    right: 0px;
    margin: auto;
  }
  .desktop1-group2button {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .desktop1-aicdm20231 {
    top: 133px;
    left: 547px;
    width: 396px;
    height: 278px;
  }
  .desktop1-hackabot20231 {
    top: 134px;
    left: 40px;
    width: 432px;
    height: 285px;
  }
  .desktop1-text20 {
    top: 441px;
    left: 85px;
  }
  .desktop1-text22 {
    top: 434px;
    left: 627px;
  }
  .desktop1-line2 {
    left: 0px;
    right: 0px;
    width: 900px;
    margin: auto;
  }
  .desktop1-text24 {
    top: 495px;
    left: 33px;
    width: 450px;
  }
  .desktop1-text26 {
    top: 496px;
    left: 520px;
    right: 102px;
    width: 450px;
  }
  .desktop1-text28 {
    left: 290px;
  }
  .desktop1-text30 {
    top: 185px;
    left: 572px;
  }
  .desktop1-text32 {
    left: 450px;
  }
  .desktop1-java-scriptframeworkspana1 {
    top: 0px;
    right: 49px;
    width: 419px;
    height: 414px;
  }
  .desktop1-line3 {
    left: 0px;
    right: 0px;
    width: 900px;
    margin: auto;
  }
  .desktop1-line4 {
    left: 0px;
    right: 0px;
    width: 900px;
    margin: auto;
  }
  .desktop1-line5 {
    left: 0px;
    right: 0px;
    width: 900px;
    margin: auto;
  }
  .desktop1-group5 {
    top: 2473px;
    left: -53px;
  }
  .desktop1-text40 {
    width: 500px;
  }
  .desktop1-manufacturing-processpana1 {
    top: 0px;
    left: 70px;
    width: 440px;
    height: 473px;
  }
  .desktop1-group4 {
    left: 6px;
    bottom: 155px;
  }
  .desktop1-text42 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-family: Exo;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
  }
}
